{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

{% for comment in comments %}
<div class="comments">
    <p class="comment_author">
        {{ comment.comment_text }}<br> 
        {{ comment.author }}<br>
        {{ comment.created_date }}
    </p>
    
</div>
{% endfor %}

<div class="comment-approval">
    {% if new_comment %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
    </div>
    {% else %}
        <h2>Leave us a comment:</h2>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn-submit">Submit</button>
        </form>
{% endif %}
</div>

{% endblock %}